/* keyboard.css */
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: rgb(55, 79, 107);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

canvas#canvas {
  display: block;
}

h2 {
  font-size: xx-large;
  position: absolute;
  top:5%;
  right: 63%;
  text-align: center;
}

.flex-container {
  position: absolute;
  top:10%;
  margin-top: 0;
  display: flex;
  margin-left: 15vw;
  text-align: center;
}

.flex-container>div {
  margin: 1vh;
  font-size: 3vw;
}


#surface {
  background-color: rgba(88, 86, 86, 0.753);
  border: 5px solid rgba(228, 225, 225, 0.37);
  height: 63vh;
  width: 32vw;
  color: rgb(0, 0, 0);
  float: left;
  display: grid;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  margin-top: 5vh;
}

.grid-item {
  border: 1px solid rgba(228, 225, 225, 0.37);
}


#surface2 {
  background-color: rgba(88, 86, 86, 0.753);
  border: 5px solid rgba(228, 225, 225, 0.37);
  height: 63vh;
  width: 32vw;
  color: rgb(0, 0, 0);
  float: right;
  display: grid;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  margin-top: 5vh;
  margin-right: 0;
}


a {
  position: absolute;
  top:10%;
  text-align: right;
  margin-left: 66vw;
  margin-bottom: 0;
  cursor: pointer;
  color: rgb(0, 0, 0);
  text-decoration: none;
}



#surface3 {
  background-color: rgba(88, 86, 86, 0.753);
  border: 5px solid rgba(228, 225, 225, 0.37);
  height: 63vh;
  width: 60vw;
  color: rgb(0, 0, 0);
  float: left;
  margin-left: 5vw;
  margin-top: 5vh;
}

img {
  z-index: 1;
}

#display {
  position: absolute;
  left:78%;
  top:40%;
  transform: translate(-50%, -50%);
  width: 50vw;
  display:block;
  font-family: Arial, sans-serif;
  font-size: 1vw;
  color: white;
  transform: 2s;
}

#resultBox{
  display: block;
  padding: 2vw;
  background-image: linear-gradient(
    to right,
    #462523 0,
           #cb9b51 22%, 
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
    );
    box-shadow: 4px;
  border: 0.5vw black solid;
  border-radius: 3vw;
  width: 5vw;
  position: absolute;

}
#resultBox:a{
  text-align: center;
  text-shadow: 4px;
}
